html{
    scroll-behavior: smooth;
}
* {
    margin: 0;
    padding: 0;
}

html {
  scroll-behavior:smooth;
}
.bubble{
  position: absolute;
  z-index: -2;
  background: linear-gradient(to right, #ec6f66, #f3a183);


}


.active{
  border-bottom: 1px solid darkorange;
}
.navbar{
 display:fixed;
}
.fixed-top{
  background:rgba(0, 0, 0, 0.4);
}
body {
 
    font-family: poppins;
   
}
#more {
  display: none;
}
.w-100{
  width:100;
}
.input {
  padding: 10px;
  height: 50px !important;
  
}
.img-hover-zoom img {
  transition: transform .5s ease;
}

/* [3] Finally, transforming the image when container gets hovered */
.img-hover-zoom:hover img {
  transform: scale(1.1);
}
.grey{
  background:#f4f9f9;
}
/* .grey:hover{ 
 
  background:#ffe8e8;
} */
::placeholder {
text-transform: uppercase;
  padding:5px;
}
.zoom {
  padding: 50px;
  background-color: green;
  transition: transform .2s; /* Animation */
  width: 200px;
  height: 200px;
  margin: 0 auto;
}

.zoom:hover {
  transform: scale(1.5); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
}
.card-img-top{
  width: 100%;
height:300px;
}
.bgimg{
    background-image: url(/img/bg.jpg);
    -webkit-background-size: cover;
    background-size: cover;
    background-position: center center;
    
}


a {
    text-decoration: none;
}

header {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 70px;
}

.logo {
    cursor: pointer;
}

.nav-area {
    list-style: none;
}

.nav-area li {
    display: inline-block;
    padding: 0 15px;
    text-transform: uppercase;
}

.nav-area li a {
    transition: all .3s ease 0s;
    color: #fff;
}

.nav-area li a:hover {
    color: #f9f871;
}

.btn-area {
    cursor: pointer;
    color: #fff;
    font-size: 16px;
    letter-spacing: 2px;
    text-transform: uppercase;
    padding: 10px 30px;
    border-radius: 5px;
    background: #006C87;
}

.banner-area {
    /* position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); */
    text-align: center;
    width: 100%;
 
}

.banner-area h3 {
    font-size: 40px;
    text-transform: uppercase;
    color: #fff;
    font-weight: lighter !important;
    margin: 0 0 30px 0;
}

.banner-area h2 {
    font-family: poppins;
    margin: 0;
    padding: 0;
    color: #fff;
    font-size: 3em;
    line-height: 0;
    font-weight: bolder;
}

.banner-area h2 span {
    color: darkorange;
}
.white{
    color: #ddd;
}
.or{
    color:#ffb400 ;
}
.center{
    text-align: center;
}


/* ABOUT */
.cv-btn{
    border: 3px solid white;
    padding: 10px;
    color: #ddd;
    margin-top: 5px;
    text-transform: uppercase;
    border-radius: 50px;
    width: 100px;
    text-decoration: none;
}
.cv-btn:hover{
    text-decoration: none;
    color: darkorange;
}
#section2{
    background-image: url(/img/bgbbb.jpg);
    -webkit-background-size: cover;
    background-size: cover;
    background-position: center center;
}
/* my skills */


::selection{
  color: #fff;
  background:darkorange; ;
}
.skill-bars{
  padding: 25px 30px;
  /* width: 600px; */
  background: #fff;
  box-shadow: 5px 5px 20px rgba(0,0,0,0.2);
  border-radius: 10px;
}
.skill-bars .bar{
  margin: 20px 0;
}
.skill-bars .bar:first-child{
  margin-top: 0px;
}
.skill-bars .bar .info{
  margin-bottom: 5px;
}
.skill-bars .bar .info span{
  font-weight: 500;
  font-size: 17px;
  opacity: 0;
  animation: showText 0.5s 1s linear forwards;
}
@keyframes showText {
  100%{
    opacity: 1;
  }
}
.skill-bars .bar .progress-line{
  height: 10px;
  /* width: 100%; */
  position: relative;
  transform: scaleX(0);
  transform-origin: left;
  border-radius: 10px;
  box-shadow: inset 0 1px 1px rgba(0,0,0,0.05),
              0 1px rgba(255,255,255,0.8);
  animation: animate 1s cubic-bezier(1,0,0.5,1) forwards;
}
@keyframes animate {
  100%{
    transform: scaleX(1);
  }
}
.bar .progress-line span{
  height: 100%;
  position: absolute;
  border-radius: 10px;
  transform: scaleX(0);
  transform-origin: left;
  background: darkorange; ;
  animation: animate 1s 1s cubic-bezier(1,0,0.5,1) forwards;
}
.bar .del span{
  height: 100%;
  position: absolute;
  border-radius: 10px;
  transform: scaleX(0);
  transform-origin: left;
  background: #f7f7e8; ;
  animation: animate 1s 1s cubic-bezier(1,0,0.5,1) forwards;
}
.bar .cell span{
  height: 100%;
  position: absolute;
  border-radius: 10px;
  transform: scaleX(0);
  transform-origin: left;
  background: white; ;
  animation: animate 1s 1s cubic-bezier(1,0,0.5,1) forwards;
}
.flex-r {
  margin-left: auto;
}


.bar .progress-line.html span{
  width: 90%;
}
.bar .progress-line.css span{
  width:90%;
}

.bar .progress-line.jquery span{
  width: 55%;
}
.bar .progress-line.bootstrap span{
  width: 80%;
}
.bar .progress-line.mysql span{
  width: 75%;
}
.bar .progress-line.php span{
  width: 70%;
}
.bar .progress-line.c span{
  width: 80%;
}
.bar .progress-line.js span{
  width: 70%;
}
.progress-line span::before{
  position: absolute;
  content: "";
  top: -10px;
  right: 0;
  height: 0;
  width: 0;
  border: 7px solid transparent;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-color: #000;
  opacity: 0;
  animation: showText2 0.5s 1.5s linear forwards;
}
.progress-line span::after{
  position: absolute;
  top: -28px;
  right: 0;
  font-weight: 500;
  background: white;
  color: black;
  padding: 1px 8px;
  font-size: 12px;
  border-radius: 3px;
  opacity: 0;
  animation: showText2 0.5s 1.5s linear forwards;
}
@keyframes showText2 {
  100%{
    opacity: 1;
  }
}
.progress-line.html span::after{
  content: "90%";
}
.progress-line.css span::after{
  content: "90%";
}
.progress-line.jquery span::after{
  content: "55%";
}
.progress-line.bootstrap span::after{
  content: "80%";
}
.progress-line.mysql span::after{
  content: "75%";
}
.progress-line.php span::after{
  content: "70%";
}
.progress-line.c span::after{
  content: "80%";
}
.progress-line.js span::after{
  content: "70%";
}

/* EDUCATION {} */
.circle {
  padding: 13px 20px;
  border-radius: 50%;
  background-color: #FD2D00;
  color: #fff;
  max-height: 50px;
  z-index: 2;
}

.how-it-works.row .col-2 {
  align-self: stretch;
}
.how-it-works.row .col-2::after {
  content: "";
  position: absolute;
  border-left: 3px solid #FD2D00;
  z-index: 1;
}
.how-it-works.row .col-2.bottom::after {
  height: 50%;
  left: 50%;
  top: 50%;
}
.how-it-works.row .col-2.full::after {
  height: 100%;
  left: calc(50% - 3px);
}
.how-it-works.row .col-2.top::after {
  height: 50%;
  left: 50%;
  top: 0;
}


.timeline div {
  padding: 0;
  height: 40px;
}
.timeline hr {
  border-top: 3px solid #FD2D00;
  margin: 0;
  top: 17px;
  position: relative;
}
.timeline .col-2 {
  display: flex;
  overflow: hidden;
}
.timeline .corner {
  border: 3px solid #FD2D00;
  width: 100%;
  position: relative;
  border-radius: 15px;
}
.timeline .top-right {
  left: 50%;
  top: -50%;
}
.timeline .left-bottom {
  left: -50%;
  top: calc(50% - 3px);
}
.timeline .top-left {
  left: -50%;
  top: -50%;
}
.timeline .right-bottom {
  left: 50%;
  top: calc(50% - 3px);
}
/* my work */
#section{
  background-color:black;
}
.main-timeline{
  font-family: 'Sanchez', serif;
  position: relative;
}
.main-timeline:before{
  content: '';
  height: 100%;
  width: 2px;
  border: 3px dashed #999;
  transform: translateX(-50%);
  position: absolute;
  left: 50%;
  top: 0;
}
.main-timeline:after{
  content: '';
  display: block;
  clear: both;
}
.main-timeline .timeline{
  width: 50.05%;
  display:inline-block;
  float: left;
  position: relative;
  z-index: 1;
}
.main-timeline .timeline:before,
.main-timeline .timeline:after{
  content: '';
  background-color: #E53E35;
  height: 25px;
  width: 25px;
  border-radius: 50%;
  transform: translateY(-50%);
  position: absolute;
  top: 50%;
  right: -12px;
}
.main-timeline .timeline:after{
  height: 17px;
  width: 150px;
  border-radius: 0;
  right: 0;
}
.main-timeline .timeline-content{
  text-align: right;
  min-height: 155px;
  padding: 20px 230px 15px 12px;
  display:block;
}
.main-timeline .timeline-content:hover{ text-decoration: none; }
.main-timeline .timeline-year{
  color: #E53E35;
  background-color: #fff;
  font-size: 35px;
  font-weight: 600;
  text-align: center;
  line-height: 100px;
  height: 120px;
  width: 120px;
  border: 10px solid #E53E35;
  transform: translateY(-50%);
  position: absolute;
  right: 100px;
  top: 50%;
  z-index: 1;
}
.main-timeline .title{
  color: #E53E35;
  font-size: 22px;
  font-weight: 600;
  text-transform: capitalize;
  letter-spacing: 1px;
  margin: 0 0 5px;
}
.main-timeline .description{
  color:white;
  font-size: 15px;
  letter-spacing: 1px;
  margin: 0;
}
.main-timeline .timeline:nth-child(even){ float: right; }
.main-timeline .timeline:nth-child(even):before{
  right: auto;
  left: -12px;
}
.main-timeline .timeline:nth-child(even):after{
  right: auto;
  left: 0;
}
.main-timeline .timeline:nth-child(even) .timeline-content{
  padding: 20px 12px 15px 230px;
  text-align: left;
}
.main-timeline .timeline:nth-child(even) .timeline-year{
  right: auto;
  left: 100px;
}
.main-timeline .timeline:nth-child(5n+2):before,
.main-timeline .timeline:nth-child(5n+2):after{
  background-color: darkorange;
}
.main-timeline .timeline:nth-child(5n+2) .timeline-year{
  color:darkorange;
  border-color: darkorange;
}
.main-timeline .timeline:nth-child(5n+2) .title{ color: darkorange; }
.main-timeline .timeline:nth-child(5n+3):before,
.main-timeline .timeline:nth-child(5n+3):after{
  background-color: #E53E35;
}
.main-timeline .timeline:nth-child(5n+3) .timeline-year{
  color: #E53E35;
  border-color: #E53E35;
}
.main-timeline .timeline:nth-child(5n+3) .title{ color: #E53E35; }
.main-timeline .timeline:nth-child(5n+4):before,
.main-timeline .timeline:nth-child(5n+4):after{
  background-color:darkorange;
}
.main-timeline .timeline:nth-child(5n+4) .timeline-year{
  color:darkorange;
  border-color:darkorange;
}
.main-timeline .timeline:nth-child(5n+4) .title{ color:darkorange; }
@media screen and (max-width:990px){
  .main-timeline .timeline-year{ right: 30px; }
  .main-timeline .timeline-content{ padding: 15px 160px 15px 15px; }
  .main-timeline .timeline:nth-child(even) .timeline-year{ left: 30px; }
  .main-timeline .timeline:nth-child(even) .timeline-content{ padding: 15px 15px 15px 160px; }
}
@media screen and (max-width:767px){
  .main-timeline:before{
      transform: translateX(0);
      left: -3px;
  }
  .main-timeline .timeline{
      width: 100%;
      margin-bottom: 20px;
  }
  .main-timeline .timeline:before,
  .main-timeline .timeline:after,
  .main-timeline .timeline:nth-child(even):before,
  .main-timeline .timeline:nth-child(even):after{
      transform: translateY(0);
      top: 14px;
  }

  .main-timeline .timeline:before,
  .main-timeline .timeline:after{
      right: auto;
      left: -12px;
  }
  .main-timeline .timeline:after{ left: 0; }
  .main-timeline .timeline:after,
  .main-timeline .timeline:nth-child(even):after{
      width: 50px;
      top: 17px;
  }
  .main-timeline .timeline .timeline-content,
  .main-timeline .timeline:nth-child(even) .timeline-content{
      text-align: left;
      padding: 70px 10px 10px 20px;
  }
  .main-timeline .timeline .timeline-year,
  .main-timeline .timeline:nth-child(even) .timeline-year{
      line-height: 40px;
      height: 50px;
      width: 120px;
      border-width: 5px;
      transform: translateY(0);
      top: 0;
      left: 45px;
  }
}
/* Project */
#section3{
    background-image: url(/img/bgbbb.jpg);
    -webkit-background-size: cover;
    background-size: cover;
    background-position: center center;
}
@media (max-width:800px) {
    nav a {
        font-size: 11px;
        margin: 0 10px;
    }
    .banner-area h2 {
font-size:1.7em ;
    }
    .banner-area h3{
        margin: 0 0 20px 0;
    }

}

/* CERTIFICATION */
.button:hover{cursor: pointer}
.button {
  background: transparent; outline: none;
  position: relative;
  border: 2px solid #111;
  padding: 15px 50px;
  overflow: hidden;
}

/*button:before (attr data-hover)*/
.button:hover:before{opacity: 1; transform: translate(0,0);}
.button:before{
  content: attr(data-hover);
  position: absolute;
  top: 1.1em; left: 0;
  width: 100%;
  text-transform: uppercase;
  letter-spacing: 3px;
  font-weight: 800;
  font-size: .8em;
  opacity: 0;
  transform: translate(-100%,0);
  transition: all .3s ease-in-out;
}
  /*button div (button text before hover)*/
  .button:hover div{opacity: 0; transform: translate(100%,0)}
  .button div{
    text-transform: uppercase;
    top: 1.1em; left: 0;
    letter-spacing: 3px;
    font-weight: 800;
    font-size: .8em;
    transition: all .3s ease-in-out;
  }

  a{
    text-decoration: none;
    color: inherit;
  }
  
 

  /* .navbar-nav a {
    color: white;
    text-decoration: none;
    font-size: 18px;
    position: relative;
  }
  .navbar-nav li {
    overflow: hidden;
    height: 50px;
  }
  .navbar-nav a::after {
    content: "";
    position: absolute;
    height: 100%;
    top: 0;
    left: 0;
    width: 100%;
    border-bottom: 10px solid orange;
    transform: translateX(-100%);
    transition: transform 0.5s ease;
  } */











/* 




const className = entry.target.className;
const activeAnchor = document.querySelector('[data-page=${className}]');
const gradientIndex = entry.target.getAttribute('data-index');
const coords activeAnchor.getBoundingClientRect();
const directions = {
    height: coords.height,
    width: coords.width,
    top : coords.top,
    left : coords.left 
};
if(entry.isIntersectnig){
    bubble.style.setProperty( 'height','${directions.height}px');
    bubble.style.setProperty( 'top','${directions.top}px');
    bubble.style.setProperty( 'width','${directions.width}px');
    bubble.style.setProperty( 'left','${directions.left}px');
    
}

}); */



